body {
    font-family: 'Times New Roman', Times, serif;
    background: #ffffff;
    color: #222;
    margin: 0;
    padding: 0;
    background-color: #Fdfff5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    color: #222;
    margin-bottom: 15px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555
}
nav{
      display: block;
      background: #Fdfff5; 
      padding: 10px; 
      width: 1000px;
      height: 50px; 
      text-align: center;
      font-size: 20px;
    }
article {
    padding: 20px;
    display: block;
    align-items: center;
}
header {
    text-align: center;
    color: darkolivegreen;
}
